docs/flow/projeta-sc.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-evolution-api.lkpafu.easypanel.host/message/sendText/Projeta_SC",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "7D5DDE6A591F-4D89-9FAC-785A343AD4F8"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.remetente }}"
            },
            {
              "name": "text",
              "value": "=Olá! Bem-vindo ao Projeta SC 🏛️\nSou o assistente de projetos do Governo de Santa Catarina. \nPosso ajudar você a encontrar informações sobre projetos e investimentos do estado.\n🔎 *Digite o que você deseja consultar*\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        -16
      ],
      "id": "339a1621-c961-4f99-9a60-39edea5e4168",
      "name": "RetornoBoasVindas"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst p = input.projeto;\nconst remetente = input.remetente;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.contextos) staticData.contextos = {};\nif (staticData.contextos[remetente]) {\n  staticData.contextos[remetente].projeto_atual = p;\n  staticData.contextos[remetente].projeto_exibido = false;\n}\n\nreturn [{\n  tipo: \"projeto_selecionado\",\n  remetente,\n  descricao_projeto:\n    \"\\uD83D\\uDCC4 *\" + p.CODIGO_PROCESSO + \" - \" + p.NOME + \"*\\n\\n\" +\n    \"\\uD83D\\uDFE1 *Situacao:* \" + (p.SITUACAO || \"-\") + \"\\n\" +\n    \"\\uD83C\\uDFDB *Orgao:* \" + (p.ORGAO || \"-\") + \"\\n\\n\" +\n    \"\\uD83D\\uDCC5 *Inicio:* \" + (p.DATA_INICIO || \"-\") + \"\\n\" +\n    \"\\uD83D\\uDCC5 *Termino:* \" + (p.DATA_FIM || \"-\") + \"\\n\\n\" +\n    \"\\uD83D\\uDCB0 *Valor:* R$ \" + parseFloat(String(p.VALORPLANEJADO || \"0\").replace(\",\", \".\")).toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + \"\\n\" +\n    \"\\uD83D\\uDCCA *Execucao:* \" + (p.PERCENTUAL_EXEC || \"0\") + \"%\" +\n    (p.SITUACAO_ATUAL ? \"\\n\\n\\u2705 *Detalhe da Situacao:*\\n\" + p.SITUACAO_ATUAL : \"\") +\n    \"\\n\\n*Deseja mais informacoes?*\\n\" +\n    \"1\\uFE0F\\u20E3 Ver Entregas\\n\" +\n    \"2\\uFE0F\\u20E3 Ver Valores\\n\" +\n    \"3\\uFE0F\\u20E3 Ver Contratos\\n\" +\n    \"4\\uFE0F\\u20E3 Nova Busca\"\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        1264
      ],
      "id": "b99f8964-f0e0-40e5-b8ab-97c10a20a99d",
      "name": "FormataProjeto"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"temperature\": 0,\n  \"max_tokens\": 200,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Voce e um interpretador de buscas de projetos do governo de SC. Extraia do texto do usuario os campos de busca e retorne SOMENTE um JSON valido, sem explicacoes, sem markdown.\\n\\nRegras:\\n1. Fundacoes, secretarias, departamentos e orgaos governamentais vao para orgao\\n2. APENAS nomes de cidades e municipios vao para municipio. Exemplos de municipios: Florianopolis, Joinville, Blumenau, Palhoca, Biguacu, Chapeco, Lages, Itajai, Criciuma, Sao Jose, Tubarao\\n3. Nomes de obras, projetos, construcoes, estruturas, complexos, parques, terminais vao para nome. Exemplos: Ponte, Escola, Hospital, Rodovia, Viaduto, Barragem, MiraMar, Via Expressa, HemoSC, Terminal Rodoviario\\n4. Frases como 'quero saber', 'me fala', 'projeto', 'nome do projeto' sao introducoes - ignore e extraia apenas a palavra-chave principal\\n5. obra, convenio, servico, aquisicao vao para tipo\\n6. em andamento vao para situacao Andamento\\n7. concluido, finalizado vao para situacao Concluido\\n8. O campo indicado como Proximo campo esperado recebe o texto do usuario\\n9. Nomes proprios compostos e nomes de projetos especificos SEMPRE vao para nome, nunca para municipio\\n10. NUNCA corrija ortografia. Preserve o texto do usuario exatamente como digitado, mesmo com erros\\n\\nCampos: nome, municipio, situacao, tipo, orgao, codigo\\n\\nExemplos:\\nPalhoca -> {\\\"municipio\\\":\\\"Palhoca\\\"}\\nFlorianopolis -> {\\\"municipio\\\":\\\"Florianopolis\\\"}\\nPonte Hercilio Luz -> {\\\"nome\\\":\\\"Ponte Hercilio Luz\\\"}\\nMiraMar -> {\\\"nome\\\":\\\"MiraMar\\\"}\\nVia Expressa -> {\\\"nome\\\":\\\"Via Expressa\\\"}\\nHemoSC -> {\\\"nome\\\":\\\"HemoSC\\\"}\\nParque Miramar -> {\\\"nome\\\":\\\"Parque Miramar\\\"}\\nComplexo do Campeche -> {\\\"nome\\\":\\\"Complexo do Campeche\\\"}\\nTerminal Rodoviario -> {\\\"nome\\\":\\\"Terminal Rodoviario\\\"}\\nquero saber o nome do projeto ponte -> {\\\"nome\\\":\\\"ponte\\\"}\\nme fala sobre o projeto escola -> {\\\"nome\\\":\\\"escola\\\"}\\nEscola Sao Jose -> {\\\"nome\\\":\\\"Escola Sao Jose\\\"}\\nPonte Ercilio Luz -> {\\\"nome\\\":\\\"Ponte Ercilio Luz\\\"}\\nHercilio Luz -> {\\\"nome\\\":\\\"Hercilio Luz\\\"}\\nHospital Regional -> {\\\"nome\\\":\\\"Hospital Regional\\\"}\\nFundacao Catarinense de Esporte -> {\\\"orgao\\\":\\\"Fundacao Catarinense de Esporte\\\"}\\nescola florianopolis -> {\\\"nome\\\":\\\"escola\\\",\\\"municipio\\\":\\\"florianopolis\\\"}\\nem andamento -> {\\\"situacao\\\":\\\"Andamento\\\"}\\nconcluido -> {\\\"situacao\\\":\\\"Concluido\\\"}\\n32/2025 -> {\\\"codigo\\\":\\\"32/2025\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.busca_limpa }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        912
      ],
      "id": "5231119d-59df-4aa1-bc2d-2eb1c38b7cb1",
      "name": "InterpretaConsulta"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst remetente = $('ProcessaMensagem').first().json.remetente;\nconst buscaOriginal = $('ProcessaMensagem').first().json.busca_limpa;\nconst camposAcumulados = $('PreparaConsulta').first().json.campos_acumulados || {};\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.contextos) staticData.contextos = {};\n\n// Se busca_limpa é \"refinar\", ignora o Groq e usa só campos acumulados\nlet camposNovos = {};\nif (buscaOriginal !== \"refinar\") {\n  try {\n    const texto = input.choices[0].message.content.trim();\n    camposNovos = JSON.parse(texto.replace(/```json|```/g, \"\").trim());\n  } catch(e) {\n    camposNovos = { nome: buscaOriginal };\n  }\n}\n\n// Mescla campos — novos complementam os existentes\n// Campos \"QUALQUER\" nao sao sobrescritos pelo Groq\nconst campos = { ...camposAcumulados };\nObject.keys(camposNovos).forEach(key => {\n  if (campos[key] === \"QUALQUER\") return;\n  if (key === 'nome' && campos.nome && camposNovos.nome && campos.nome !== \"QUALQUER\") {\n    if (!campos.nome.includes(camposNovos.nome)) campos.nome = campos.nome + \" \" + camposNovos.nome;\n  } else {\n    campos[key] = camposNovos[key];\n  }\n});\n\nif (staticData.contextos[remetente]) {\n  staticData.contextos[remetente].campos_acumulados = campos;\n} else {\n  staticData.contextos[remetente] = { campos_acumulados: campos };\n}\n\nfunction removerAcentos(str) {\n  if (!str) return \"\";\n  return str.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").toLowerCase().trim();\n}\n\nconst SINONIMOS = {\n  \"colegio\": [\"escola\", \"educacional\", \"ensino\"],\n  \"escola\": [\"colegio\", \"educacional\", \"ensino\"],\n  \"hospital\": [\"clinica\", \"upa\", \"saude\"],\n  \"clinica\": [\"hospital\", \"upa\", \"saude\"],\n  \"ubs\": [\"clinica\", \"posto\", \"saude\"],\n  \"posto\": [\"ubs\", \"clinica\", \"saude\"],\n  \"saude\": [\"hospital\", \"clinica\", \"ubs\"],\n  \"creche\": [\"cei\", \"infantil\"],\n  \"cei\": [\"creche\", \"infantil\"],\n  \"estrada\": [\"rodovia\", \"pavimentacao\"],\n  \"rodovia\": [\"estrada\", \"via\", \"pavimentacao\"],\n  \"ponte\": [\"viaduto\", \"passarela\"],\n  \"viaduto\": [\"ponte\", \"passarela\"],\n  \"policia\": [\"seguranca\", \"delegacia\"],\n  \"seguranca\": [\"policia\", \"delegacia\", \"bombeiro\"],\n  \"bombeiro\": [\"seguranca\", \"defesa\"],\n  \"habitacao\": [\"moradia\", \"casa\", \"residencia\"],\n  \"moradia\": [\"habitacao\", \"casa\", \"residencia\"],\n  \"saneamento\": [\"esgoto\", \"abastecimento\"],\n  \"esgoto\": [\"saneamento\", \"abastecimento\"],\n  \"parque\": [\"praca\", \"jardim\"],\n  \"praca\": [\"parque\", \"jardim\"],\n  \"biblioteca\": [\"cultural\", \"museu\"],\n  \"ginasio\": [\"arena\", \"estadio\", \"quadra\"],\n  \"estadio\": [\"ginasio\", \"arena\"]\n};\n\nconst SINONIMOS_ORGAO = {\n  \"educacao\": \"EDUC\",\n  \"saude\": \"SAUDE\",\n  \"seguranca\": \"SEGUR\",\n  \"infraestrutura\": \"INFRA\",\n  \"habitacao\": \"HABIT\",\n  \"agricultura\": \"AGRIC\",\n  \"meio ambiente\": \"MEIO\",\n  \"cultura\": \"CULTUR\",\n  \"esporte\": \"ESPOR\",\n  \"turismo\": \"TURIS\",\n  \"transportes\": \"TRANS\",\n  \"fazenda\": \"FAZEND\",\n  \"policia\": \"POLIC\",\n  \"bombeiro\": \"BOMBE\",\n  \"defesa civil\": \"DEFES\"\n};\n\nfunction montarPattern(str) {\n  if (!str || str === \"QUALQUER\") return null;\n  const palavras = removerAcentos(str).toUpperCase().split(/\\s+/).filter(function(w){ return w.length >= 3; });\n  if (palavras.length === 0) return null;\n  const palavrasUsadas = palavras.slice(0, 2);\n  return \"%\" + palavrasUsadas.map(function(w){ return w.substring(0, 4); }).join(\"%\") + \"%\";\n}\n\nfunction montarNomePatterns(str) {\n  if (!str || str === \"QUALQUER\") return null;\n  const palavras = removerAcentos(str).toLowerCase().split(/\\s+/).filter(function(w){ return w.length >= 3; });\n  if (palavras.length === 0) return null;\n  const main = montarPattern(str);\n  // Sinônimos só para busca de palavra única genérica (ex: \"escola\", \"colégio\")\n  // Nomes compostos já são específicos o suficiente\n  if (palavras.length !== 1) return [main];\n  const extras = [];\n  (SINONIMOS[palavras[0]] || []).forEach(function(sin) {\n    const sinNorm = removerAcentos(sin).toUpperCase().substring(0, 4);\n    const pat = \"%\" + sinNorm + \"%\";\n    if (!extras.includes(pat) && pat !== main) extras.push(pat);\n  });\n  return [main].concat(extras);\n}\n\nconst busca_codigo = campos.codigo || \"\";\nconst busca_nome_patterns = montarNomePatterns(campos.nome);\nconst busca_nome_p = busca_nome_patterns ? busca_nome_patterns[0] : null;\nconst busca_municipio_p = montarPattern(campos.municipio);\nfunction montarPatternOrgao(str) {\n  if (!str || str === \"QUALQUER\") return null;\n  const key = removerAcentos(str).toLowerCase().trim();\n  if (SINONIMOS_ORGAO[key]) return \"%\" + SINONIMOS_ORGAO[key] + \"%\";\n  // Verifica palavra a palavra (ex: \"Secretaria de Educação\" → \"educacao\" → %EDUC%)\n  const palavras = key.split(/\\s+/);\n  for (const p of palavras) {\n    if (SINONIMOS_ORGAO[p]) return \"%\" + SINONIMOS_ORGAO[p] + \"%\";\n  }\n  return montarPattern(str);\n}\nconst busca_orgao_p = montarPatternOrgao(campos.orgao);\nconst busca_situacao_p = montarPattern(campos.situacao);\nconst busca_tipo_p = montarPattern(campos.tipo);\n\n// Monta WHERE\nfunction trNorm(col) { return \"TRANSLATE(UPPER(\" + col + \"), 'AÁÀÂÃÄEÉÈÊËIÍÌÎÏOÓÒÔÕÖUÚÙÛÜÇ', 'AAAAAAEEEEEIIIIIOOOOOOUUUUUC')\"; }\n\nlet where;\n\nfunction nomeWhere(patterns) {\n  if (!patterns || patterns.length === 0) return null;\n  if (patterns.length === 1) return trNorm('VIP.NOME') + \" LIKE '\" + patterns[0] + \"'\";\n  return \"(\" + patterns.map(function(p){ return trNorm('VIP.NOME') + \" LIKE '\" + p + \"'\"; }).join(\" OR \") + \")\";\n}\n\nif (busca_codigo) {\n  where = \"TRIM(TO_CHAR(VIP.NUMERO))||'-'||TRIM(TO_CHAR(VIP.ANO)) = '\" + busca_codigo.replace(\"/\", \"-\") + \"'\";\n} else if (busca_nome_patterns && busca_municipio_p) {\n  where = nomeWhere(busca_nome_patterns) + \" AND \" + trNorm('M.MUNICIPIO') + \" LIKE '\" + busca_municipio_p + \"'\";\n} else if (busca_nome_patterns) {\n  where = nomeWhere(busca_nome_patterns);\n} else if (busca_municipio_p) {\n  where = trNorm('M.MUNICIPIO') + \" LIKE '\" + busca_municipio_p + \"'\";\n} else {\n  where = \"1=1\";\n}\n\n// Filtros adicionais sempre como AND\nlet whereExtra = \"\";\nif (busca_situacao_p) whereExtra += \" AND \" + trNorm('VIP.SITUACAO') + \" LIKE '\" + busca_situacao_p + \"'\";\nif (busca_tipo_p) whereExtra += \" AND \" + trNorm('VIP.TIPO') + \" LIKE '\" + busca_tipo_p + \"'\";\nif (busca_orgao_p) whereExtra += \" AND \" + trNorm('VIP.ORGAO') + \" LIKE '\" + busca_orgao_p + \"'\";\n\nconst sql = \"SELECT DISTINCT VIP.PROJETO_ID, VIP.NUMERO, VIP.ANO, TRIM(TO_CHAR(VIP.NUMERO))||'-'||TRIM(TO_CHAR(VIP.ANO)) AS CODIGO_PROCESSO, VIP.NOME, VIP.SITUACAO, VIP.SITUACAO_ATUAL, VIP.ORGAO, VIP.TIPO, TO_CHAR(VIP.DATAINICIO, 'DD-MM-YYYY') AS DATA_INICIO, TO_CHAR(VIP.DATAFIM, 'DD-MM-YYYY') AS DATA_FIM, VIP.PRAZO_ESTIMADO AS PRAZOESTIMADO, VIP.VALORPLANEJADO, VIP.PERCEXECUTADOFINANC AS PERCENTUAL_EXEC, M.MUNICIPIO, MR.REGIAO FROM VW_IDENTIFICACAO_PROJETOS VIP LEFT JOIN LOCALIZACAO L ON L.PROJETO_ID = VIP.PROJETO_ID LEFT JOIN MUNICIPIO M ON M.ID = L.MUNICIPIO_ID LEFT JOIN MUNICIPIO_REGIAO MR ON MR.MUNICIPIO_ID = M.ID LEFT JOIN PORTFOLIO_PROJETO PP ON VIP.PROJETO_ID = PP.PROJETO_ID LEFT JOIN PORTFOLIO PORT ON PP.PORTFOLIO_ID = PORT.ID LEFT JOIN PROGRAMA_INVESTIMENTO PI ON PI.ID = PP.PROGRAMA_INVESTIMENTO_ID WHERE (\" + where + \")\" + whereExtra + \" ORDER BY VIP.ANO DESC, VIP.NUMERO DESC FETCH FIRST 200 ROWS ONLY\";\n\nconst busca_limpa_completa = [campos.nome, campos.municipio, campos.situacao, campos.tipo, campos.orgao, campos.codigo]\n  .filter(v => v && v !== \"QUALQUER\")\n  .join(\" \");\n\nreturn [{\n  remetente,\n  busca_limpa: busca_limpa_completa || buscaOriginal,\n  campos,\n  sql_query: sql\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        912
      ],
      "id": "5361ed94-5965-4f00-bc40-a61629e4d504",
      "name": "MontaBusca"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "78caf95b-b49c-4b78-8f20-8e7fbadaebb3",
              "leftValue": "={{ $json.submenu }}",
              "rightValue": "entregas",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        272,
        304
      ],
      "id": "8c151d48-94d5-4cf5-af38-f31400b7669d",
      "name": "RoteiaSubmenu"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "200282e0-9a27-4af5-be6a-392ce85b822b",
              "leftValue": "={{ $json.submenu }}",
              "rightValue": "valores",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        480
      ],
      "id": "7a9b19ad-a688-4c16-958f-4079f3b84ba5",
      "name": "RoteiaValores"
    },
    {
      "parameters": {
        "query": "={{ $json.sql_entregas }}"
      },
      "id": "f6784777-3d9f-489a-9116-0ff2a97ed7ad",
      "name": "ConsultaEntregas",
      "type": "n8n-nodes-oracle11g.oracle11g",
      "typeVersion": 1,
      "position": [
        864,
        288
      ],
      "alwaysOutputData": true,
      "credentials": {
        "oracle11gApi": {
          "id": "WuFxnnM18FaQQCfa",
          "name": "Oracle 11g account"
        }
      }
    },
    {
      "parameters": {
        "query": "=SELECT\n    VL_PLANEJADO AS VALOR_PLANEJADO,\n    VL_CONTRATADO AS VALOR_CONTRATADO,\n    VL_EXECUTADO AS VALOR_EXECUTADO,\n    VL_PAGO AS VALOR_PAGO,\n    PC_EXECUTADO AS PERC_EXEC\nFROM FINANCEIRO\nWHERE PROJETO_ID = {{ $json.projeto.PROJETO_ID }}"
      },
      "id": "c8dee14d-c826-43cc-8124-9b6199d422a6",
      "name": "ConsultaValores",
      "type": "n8n-nodes-oracle11g.oracle11g",
      "typeVersion": 1,
      "position": [
        864,
        464
      ],
      "alwaysOutputData": true,
      "credentials": {
        "oracle11gApi": {
          "id": "WuFxnnM18FaQQCfa",
          "name": "Oracle 11g account"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ $json.sql_contratos }}"
      },
      "id": "7000839f-e7d4-4f07-b4f4-1fcf43358cd2",
      "name": "ConsultaContratos",
      "type": "n8n-nodes-oracle11g.oracle11g",
      "typeVersion": 1,
      "position": [
        864,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "oracle11gApi": {
          "id": "WuFxnnM18FaQQCfa",
          "name": "Oracle 11g account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const todos = $input.all();\nconst remetente = $('ProcessaMensagem').first().json.remetente;\nconst staticData = $getWorkflowStaticData('global');\nconst contexto = staticData.contextos?.[remetente] || {};\nconst p = contexto.projeto_atual || {};\n\nif (todos.length === 0) {\n  return [{\n    remetente,\n    mensagem_retorno:\n      \"\\u274C Nao encontrei entregas para este projeto.\\n\\n\" +\n      \"Deseja mais informacoes?\\n\" +\n      \"1\\uFE0F\\u20E3 Ver Valores\\n\" +\n      \"2\\uFE0F\\u20E3 Ver Contratos\\n\" +\n      \"4\\uFE0F\\u20E3 Nova Busca\"\n  }];\n}\n\nconst linhas = todos.map(item => {\n  const e = item.json;\n  const perc = e.PERC_EXECUTADO !== null ? \" (\" + e.PERC_EXECUTADO + \"%)\" : \"\";\n  return \"- \" + (e.NOME_ENTREGA || \"-\") + perc;\n}).join(\"\\n\");\n\nreturn [{\n  remetente,\n  mensagem_retorno:\n    \"\\uD83D\\uDCCB Principais Entregas\\n\" +\n    p.CODIGO_PROCESSO + \" - \" + p.NOME + \"\\n\\n\" +\n    linhas + \"\\n\\n\" +\n    \"Deseja mais informacoes?\\n\" +\n    \"2\\uFE0F\\u20E3 Ver Valores\\n\" +\n    \"3\\uFE0F\\u20E3 Ver Contratos\\n\" +\n    \"4\\uFE0F\\u20E3 Nova Busca\"\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        288
      ],
      "id": "31f50bec-fd4d-427e-b08d-07501343d4a9",
      "name": "FormataEntregas"
    },
    {
      "parameters": {
        "jsCode": "const todos = $input.all();\nconst remetente = $('ProcessaMensagem').first().json.remetente;\nconst staticData = $getWorkflowStaticData('global');\nconst contexto = staticData.contextos?.[remetente] || {};\nconst p = contexto.projeto_atual || {};\n\nif (todos.length === 0) {\n  return [{\n    remetente,\n    mensagem_retorno:\n      \"\\u274C Nao encontrei valores para este projeto.\\n\\n\" +\n      \"*Deseja mais informacoes?*\\n\" +\n      \"1\\uFE0F\\u20E3 Ver Entregas\\n\" +\n      \"3\\uFE0F\\u20E3 Ver Contratos\\n\" +\n      \"4\\uFE0F\\u20E3 Nova Busca\"\n  }];\n}\n\nfunction formatarValor(val) {\n  const n = parseFloat(String(val || \"0\").replace(\",\", \".\")) || 0;\n  return \"R$ \" + n.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n}\n\nconst v = todos[0].json;\n\nreturn [{\n  remetente,\n  mensagem_retorno:\n    \"\\uD83D\\uDCB0 *Valores do Projeto*\\n\" +\n    \"*\" + p.CODIGO_PROCESSO + \" - \" + p.NOME + \"*\\n\\n\" +\n    \"\\uD83D\\uDCB3 *Planejado:* \" + formatarValor(v.VALOR_PLANEJADO) + \"\\n\" +\n    \"\\uD83D\\uDCB3 *Contratado:* \" + formatarValor(v.VALOR_CONTRATADO) + \"\\n\" +\n    \"\\uD83D\\uDCB3 *Executado:* \" + formatarValor(v.VALOR_EXECUTADO) + \"\\n\" +\n    \"\\uD83D\\uDCB3 *Pago:* \" + formatarValor(v.VALOR_PAGO) + \"\\n\" +\n    \"\\uD83D\\uDCCA *Execucao:* \" + (v.PERC_EXEC || \"0\") + \"%\\n\\n\" +\n    \"*Deseja mais informacoes?*\\n\" +\n    \"1\\uFE0F\\u20E3 Ver Entregas\\n\" +\n    \"3\\uFE0F\\u20E3 Ver Contratos\\n\" +\n    \"4\\uFE0F\\u20E3 Nova Busca\"\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        464
      ],
      "id": "8909cdd8-23e8-4451-8c57-0486f59f338d",
      "name": "FormataValores"
    },
    {
      "parameters": {
        "jsCode": "const todos = $input.all().filter(item => {\n  if (!item.json) return false;\n  const vals = Object.values(item.json);\n  return vals.some(v => v !== null && v !== undefined && v !== \"\");\n});\n\nconst remetente = $('ProcessaMensagem').first().json.remetente;\nconst staticData = $getWorkflowStaticData('global');\nconst contexto = staticData.contextos?.[remetente] || {};\nconst p = contexto.projeto_atual || {};\n\nif (todos.length === 0) {\n  return [{\n    remetente,\n    mensagem_retorno:\n      \"\\u274C Nao encontrei contratos para este projeto.\\n\\n\" +\n      \"*Deseja mais informacoes?*\\n\" +\n      \"1\\uFE0F\\u20E3 Ver Entregas\\n\" +\n      \"2\\uFE0F\\u20E3 Ver Valores\\n\" +\n      \"4\\uFE0F\\u20E3 Nova Busca\"\n  }];\n}\n\nfunction formatarValor(val) {\n  const n = parseFloat(String(val || \"0\").replace(\",\", \".\")) || 0;\n  return \"R$ \" + n.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n}\n\nfunction formatarData(val) {\n  if (!val) return \"-\";\n  try {\n    const d = new Date(val);\n    return d.toLocaleDateString('pt-BR');\n  } catch(e) {\n    return String(val).substring(0, 10);\n  }\n}\n\nfunction numeroLabel(i) {\n  const emojis = [\n    \"1\\uFE0F\\u20E3\",\"2\\uFE0F\\u20E3\",\"3\\uFE0F\\u20E3\",\"4\\uFE0F\\u20E3\",\"5\\uFE0F\\u20E3\",\n    \"6\\uFE0F\\u20E3\",\"7\\uFE0F\\u20E3\",\"8\\uFE0F\\u20E3\",\"9\\uFE0F\\u20E3\"\n  ];\n  if (i < 9) return emojis[i];\n  return \"*\" + (i + 1) + \".*\";\n}\n\nif (todos.length === 1) {\n  const c = todos[0].json;\n  if (!staticData.contextos[remetente]) staticData.contextos[remetente] = {};\n  staticData.contextos[remetente].contratos = [c];\n  return [{\n    remetente,\n    mensagem_retorno:\n      \"\\uD83D\\uDCDC *Contrato:* \" + (c.NUMERO || \"-\") +\n      \"\\n\\uD83C\\uDFE2 *Contratada:* \" + (c.CONTRATADA || \"-\") +\n      \"\\n\\uD83C\\uDFAF *Objeto:* \" + (c.OBJETO || \"-\") +\n      \"\\n\\uD83D\\uDFE1 *Situacao:* \" + (c.SITUACAO || \"-\") +\n      \"\\n\\uD83D\\uDCC5 *Inicio:* \" + formatarData(c.DT_INICIO) +\n      \"\\n\\uD83D\\uDCC5 *Fim:* \" + formatarData(c.DT_FIM) +\n      \"\\n\\uD83D\\uDCB0 *Total:* \" + formatarValor(c.TOTAL_CONTRATADO) +\n      \"\\n\\uD83D\\uDCB3 *Executado:* \" + formatarValor(c.VL_EXECUTADO) +\n      \"\\n\\uD83D\\uDCB3 *Pago:* \" + formatarValor(c.VL_PAGO) +\n      \"\\n\\uD83D\\uDCCA *Exec:* \" + (c.PC_EXECUTADO || \"0\") + \"%\" +\n      \"\\n\\n*Deseja mais informacoes?*\\n\" +\n      \"1\\uFE0F\\u20E3 Ver Entregas\\n\" +\n      \"2\\uFE0F\\u20E3 Ver Valores\\n\" +\n      \"4\\uFE0F\\u20E3 Nova Busca\"\n  }];\n}\n\nconst grupos = {};\nconst listaOrdenada = [];\ntodos.forEach(item => {\n  const sit = item.json.SITUACAO || \"Outros\";\n  if (!grupos[sit]) grupos[sit] = [];\n  grupos[sit].push(item.json);\n});\n\nlet mensagem = \"\\uD83D\\uDCDC *Contratos do Projeto*\\n*\" + p.NOME + \"*\\n\\n\";\nlet contador = 0;\n\nObject.keys(grupos).forEach(situacao => {\n  mensagem += \"\\uD83D\\uDFE1 *\" + situacao + \"*\\n\";\n  grupos[situacao].forEach(c => {\n    listaOrdenada.push(c);\n    mensagem += \"\\n\" + numeroLabel(contador) +\n      \" *\" + (c.NUMERO || \"-\") + \"*\" +\n      \"\\n\\uD83C\\uDFAF \" + (c.OBJETO || \"-\") +\n      \"\\n\\uD83D\\uDCCA *\" + (c.PC_EXECUTADO || \"0\") + \"% exec.*\\n\";\n    contador++;\n  });\n  mensagem += \"\\n\";\n});\n\nif (!staticData.contextos[remetente]) staticData.contextos[remetente] = {};\nstaticData.contextos[remetente].contratos = listaOrdenada;\n\nmensagem += \"\\uD83D\\uDC47 Digite o numero para ver detalhes\\n4\\uFE0F\\u20E3 Nova Busca\";\nreturn [{ remetente, mensagem_retorno: mensagem }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        640
      ],
      "id": "ee7db3d9-5a97-461b-9e69-0cf970c4e676",
      "name": "FormadaContratos"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "saudacao",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "752b8671-7998-4a95-9268-ab80cbddbf22"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "saudacao"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7f3af603-f00b-45bb-a612-525c3b084f47",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "reinicio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reinicio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fc72e7ca-e027-4350-9118-b98bb38a02f7",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "submenu",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "submenu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c7a06738-772e-46f5-b12b-2d1cf0654c15",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "selecao_contrato",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "selecao_contrato"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "609cc4e9-53d2-4bc6-894e-c9a919e64ca4",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "busca",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "busca"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c223e729-5ae0-4c0c-ae3e-9fc2fb27258f",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "selecao",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "selecao"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ee4a6c2a-d0ed-4def-af6a-423a25a6925e",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "pergunta_livre",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pergunta_livre"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3b1f3516-de51-4d79-aca5-b5fcf21a6394",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "ignorar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ignorar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        16,
        400
      ],
      "id": "c913a63a-e146-4e66-bb7c-119aa23098b5",
      "name": "RoteadorPrincipal"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "projeto_unico",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "df4810e3-651f-45b0-b94a-99497a20e654"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "projeto_unico"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "muitos_resultados",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d9e1f2a3-b4c5-6789-def0-123456789abc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "muitos_resultados"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1296,
        912
      ],
      "id": "ad575a42-5f93-401a-835e-e43efe3c95cd",
      "name": "RoteiaResultado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "0c0da6ac-ee95-45cc-9483-9575bf8b023e",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            },
            {
              "id": "1ea7d868-e038-49e4-a328-29b8f144b240",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "e04ee576-64a8-4489-a933-951daf672585",
              "leftValue": "={{ $json.body.data.message.conversation }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -368,
        496
      ],
      "id": "6467409a-a719-4f28-b982-406ab0234748",
      "name": "FiltraMensagem"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst textoOriginal =\n  input.body?.data?.message?.conversation ||\n  input.body?.data?.message?.listResponseMessage?.singleSelectReply?.selectedRowId ||\n  input.body?.text || \"\";\nconst textoLimpo = textoOriginal.trim();\nconst remetente = input.body?.data?.key?.remoteJid || \"\";\n\nif (!textoLimpo || !remetente) {\n  return [{ tipo: \"ignorar\", busca_limpa: \"\", remetente: \"\", mensagem_retorno: \"\" }];\n}\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.contextos) staticData.contextos = {};\n\nconst TIMEOUT_MS = 20 * 60 * 1000;\nconst agora = Date.now();\n\nlet contexto = staticData.contextos[remetente] || {\n  termos: [], lista: null, contratos: null,\n  campos_acumulados: {}, projeto_exibido: false,\n  projeto_atual: null, ultimaInteracao: null\n};\n\nif (contexto.ultimaInteracao && (agora - contexto.ultimaInteracao) > TIMEOUT_MS) {\n  contexto = { termos: [], lista: null, contratos: null, campos_acumulados: {}, projeto_exibido: false, projeto_atual: null, ultimaInteracao: null };\n  staticData.contextos[remetente] = contexto;\n  return [{\n    tipo: \"saudacao\", busca_limpa: \"\", remetente,\n    mensagem_retorno: \"\\u23F1\\uFE0F Sua sessao expirou por falta de interacao.\\n\\nOla! Bem-vindo ao Projeta SC \\uD83C\\uDFDB\\uFE0F\\nSou o assistente de projetos do Governo de Santa Catarina.\\n\\n\\uD83D\\uDD0E Digite o que voce deseja consultar:\"\n  }];\n}\n\nconst textoNormalizado = textoLimpo.toLowerCase().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").replace(/[^a-z0-9 \\/]/g, \"\").trim();\nconst eNumero = /^\\d+$/.test(textoLimpo.trim());\n\n// 1. SAUDACAO (agora tratado pelo classificador IA — removido daqui)\n// Placeholder mantido para numeracao\n\n// 2. RESET\nif (textoNormalizado === \"menu\" || textoNormalizado === \"0\" || textoNormalizado === \"nova busca\" || textoLimpo === \"nova_busca\") {\n  staticData.contextos[remetente] = { termos: [], lista: null, contratos: null, campos_acumulados: {}, projeto_exibido: false, projeto_atual: null, ultimaInteracao: agora };\n  return [{ tipo: \"saudacao\", busca_limpa: \"\", remetente, mensagem_retorno: \"\" }];\n}\n\n// 3. CODIGO DE PROCESSO (ex: 654/2014)\nconst eCodigo = /^\\d+\\/\\d{4}$/.test(textoLimpo.trim());\nif (eCodigo) {\n  contexto = { termos: [textoLimpo], lista: null, contratos: null, campos_acumulados: { codigo: textoLimpo }, projeto_exibido: false, projeto_atual: null, ultimaInteracao: agora };\n  staticData.contextos[remetente] = contexto;\n  return [{ tipo: \"busca\", busca_limpa: textoLimpo, campos_acumulados: { codigo: textoLimpo }, campos_faltantes: [], remetente, mensagem_retorno: \"\" }];\n}\n\n// 4. SELECAO DE ITEM DA LISTA DE PROJETOS\nif (eNumero && contexto.lista && contexto.lista[parseInt(textoLimpo) - 1]) {\n  const projeto = contexto.lista[parseInt(textoLimpo) - 1];\n  contexto.ultimaInteracao = agora;\n  contexto.lista = null;\n  staticData.contextos[remetente] = contexto;\n  return [{ tipo: \"selecao\", projeto, busca_limpa: \"\", remetente, mensagem_retorno: \"\" }];\n}\n\n// 5. ATALHOS NUMERICOS com projeto atual (1/2/3/4 sao deterministicos)\nif (eNumero && contexto.projeto_atual) {\n  const n = parseInt(textoLimpo);\n  if (n === 4) {\n    staticData.contextos[remetente] = { termos: [], lista: null, contratos: null, campos_acumulados: {}, projeto_exibido: false, projeto_atual: null, ultimaInteracao: agora };\n    return [{ tipo: \"reinicio\", busca_limpa: \"\", remetente, mensagem_retorno: \"\" }];\n  }\n  if (n === 1) {\n    contexto.ultimaInteracao = agora;\n    staticData.contextos[remetente] = contexto;\n    return [{ tipo: \"submenu\", submenu: \"entregas\", projeto: contexto.projeto_atual, busca_limpa: \"\", remetente, mensagem_retorno: \"\" }];\n  }\n  if (n === 2) {\n    contexto.ultimaInteracao = agora;\n    staticData.contextos[remetente] = contexto;\n    return [{ tipo: \"submenu\", submenu: \"valores\", projeto: contexto.projeto_atual, busca_limpa: \"\", remetente, mensagem_retorno: \"\" }];\n  }\n  if (n === 3) {\n    contexto.ultimaInteracao = agora;\n    contexto.contratos = null;\n    staticData.contextos[remetente] = contexto;\n    return [{ tipo: \"submenu\", submenu: \"contratos\", projeto: contexto.projeto_atual, busca_limpa: \"\", remetente, mensagem_retorno: \"\" }];\n  }\n}\n\n// 4C. SELECAO DE MUNICIPIO POR NUMERO\nif (eNumero && contexto.municipios_opcoes && contexto.municipios_opcoes[parseInt(textoLimpo) - 1]) {\n  const municipio = contexto.municipios_opcoes[parseInt(textoLimpo) - 1];\n  contexto.campos_acumulados = { ...(contexto.campos_acumulados || {}), municipio };\n  contexto.municipios_opcoes = null;\n  contexto.ultimaInteracao = agora;\n  staticData.contextos[remetente] = contexto;\n  return [{ tipo: 'busca', busca_limpa: 'refinar', campos_acumulados: contexto.campos_acumulados, campos_faltantes: [], remetente, mensagem_retorno: '' }];\n}\n\n// 4D. SELECAO DE ORGAO POR NUMERO\nif (eNumero && contexto.orgaos_opcoes && contexto.orgaos_opcoes[parseInt(textoLimpo) - 1]) {\n  const orgao = contexto.orgaos_opcoes[parseInt(textoLimpo) - 1];\n  contexto.campos_acumulados = { ...(contexto.campos_acumulados || {}), orgao };\n  contexto.orgaos_opcoes = null;\n  contexto.ultimaInteracao = agora;\n  staticData.contextos[remetente] = contexto;\n  return [{ tipo: 'busca', busca_limpa: 'refinar', campos_acumulados: contexto.campos_acumulados, campos_faltantes: [], remetente, mensagem_retorno: '' }];\n}\n\n// 4E. SELECAO DE TIPO POR NUMERO\nif (eNumero && contexto.tipos_opcoes && contexto.tipos_opcoes[parseInt(textoLimpo) - 1]) {\n  const tipo = contexto.tipos_opcoes[parseInt(textoLimpo) - 1];\n  contexto.campos_acumulados = { ...(contexto.campos_acumulados || {}), tipo };\n  contexto.tipos_opcoes = null;\n  contexto.ultimaInteracao = agora;\n  staticData.contextos[remetente] = contexto;\n  return [{ tipo: 'busca', busca_limpa: 'refinar', campos_acumulados: contexto.campos_acumulados, campos_faltantes: [], remetente, mensagem_retorno: '' }];\n}\n\n// 4F. SELECAO DE SITUACAO POR NUMERO\nif (eNumero && contexto.situacao_opcoes && contexto.situacao_opcoes[parseInt(textoLimpo) - 1]) {\n  const situacao = contexto.situacao_opcoes[parseInt(textoLimpo) - 1];\n  contexto.campos_acumulados = { ...(contexto.campos_acumulados || {}), situacao };\n  contexto.situacao_opcoes = null;\n  contexto.ultimaInteracao = agora;\n  staticData.contextos[remetente] = contexto;\n  return [{ tipo: 'busca', busca_limpa: 'refinar', campos_acumulados: contexto.campos_acumulados, campos_faltantes: [], remetente, mensagem_retorno: '' }];\n}\n\n// 4B. SELECAO DE CONTRATO DA LISTA\nif (eNumero && contexto.contratos && contexto.contratos[parseInt(textoLimpo) - 1]) {\n  const contrato = contexto.contratos[parseInt(textoLimpo) - 1];\n  contexto.ultimaInteracao = agora;\n  staticData.contextos[remetente] = contexto;\n  return [{ tipo: \"selecao_contrato\", contrato, busca_limpa: \"\", remetente, mensagem_retorno: \"\" }];\n}\n\n// 6. REMOVER CAMPO (ex: \"remover orgao\", \"remover situacao\")\nconst matchRemover = textoNormalizado.match(/^remover\\s+(orgao|municipio|situacao|nome|tipo)/);\nif (matchRemover) {\n  const campoParaRemover = matchRemover[1];\n  const novoCampos = { ...(contexto.campos_acumulados || {}) };\n  delete novoCampos[campoParaRemover];\n  contexto.campos_acumulados = novoCampos;\n  contexto.ultimaInteracao = agora;\n  staticData.contextos[remetente] = contexto;\n  return [{ tipo: 'busca', busca_limpa: 'refinar', campos_acumulados: novoCampos, campos_faltantes: [], remetente, mensagem_retorno: '' }];\n}\n\n// 6C. VER MAIS MUNICIPIOS — mostra o restante da lista salva no contexto\nconst pedidoVerMais = /^(ver mais|mais munic|mais op|continuar lista|proxim)/i.test(textoNormalizado);\nif (pedidoVerMais && contexto.municipios_todos && contexto.municipios_todos.length > 10) {\n  const restantes = contexto.municipios_todos.slice(10);\n  let msgMais = '📍 *Outros municípios disponíveis:*\\n\\n';\n  restantes.forEach(function([mun, qtd]) {\n    msgMais += '📍 ' + mun + ' — ' + qtd + ' projeto' + (qtd > 1 ? 's' : '') + '\\n';\n  });\n  msgMais += '\\nDigite o nome do município desejado.';\n  contexto.ultimaInteracao = agora;\n  staticData.contextos[remetente] = contexto;\n  return [{ tipo: 'reinicio', remetente, mensagem_retorno: msgMais }];\n}\n\n// 6B. VER TODOS / LISTAR OPCOES — pula o proximo campo do filtro\nconst pedidoListar = /ver (todos|todas)|listar|mostrar (todos|todas)|quero (ver|saber) (todos|todas)|todos os (munic|orgao|tipo|opcao|result)|todas as (opcao|alternativa)/i.test(textoNormalizado);\nif (pedidoListar && contexto.campos_acumulados && Object.keys(contexto.campos_acumulados).length > 0) {\n  const novoCampos = { ...(contexto.campos_acumulados || {}) };\n  const ordemPular = ['municipio', 'situacao', 'nome', 'orgao', 'tipo'];\n  const proximoVazio = ordemPular.find(k => !novoCampos[k]);\n  if (proximoVazio) novoCampos[proximoVazio] = 'QUALQUER';\n  contexto.campos_acumulados = novoCampos;\n  contexto.ultimaInteracao = agora;\n  staticData.contextos[remetente] = contexto;\n  return [{ tipo: 'busca', busca_limpa: 'refinar', campos_acumulados: novoCampos, campos_faltantes: [], remetente, mensagem_retorno: '' }];\n}\n\n// 6D. SABER MAIS — exibe ficha completa do projeto atual\nconst pedidoSaberMais = /^(saber mais|mais info|mais detalhes|detalhe|detalhar|ver mais)$/i.test(textoNormalizado);\nif (pedidoSaberMais && contexto.projeto_atual) {\n  const p = contexto.projeto_atual;\n  const val = parseFloat(String(p.VALORPLANEJADO || \"0\").replace(\",\", \".\")).toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n  const fichaCompleta =\n    \"\\uD83D\\uDCCB *\" + p.NOME + \"*\\n\\n\" +\n    \"\\uD83D\\uDCCC *Codigo:* \" + (p.CODIGO_PROCESSO || \"-\") + \"\\n\" +\n    \"\\uD83C\\uDFDB *Orgao:* \" + (p.ORGAO || \"-\") + \"\\n\\n\" +\n    \"\\uD83D\\uDCCA *Situacao:* \" + (p.SITUACAO || \"-\") + \"\\n\" +\n    (p.SITUACAO_ATUAL ? \"\\u2705 *Detalhe:* \" + p.SITUACAO_ATUAL + \"\\n\\n\" : \"\\n\") +\n    \"\\uD83D\\uDCC5 *Inicio:* \" + (p.DATA_INICIO || \"-\") + \"\\n\" +\n    \"\\uD83D\\uDCC5 *Termino:* \" + (p.DATA_FIM || \"-\") + \"\\n\\n\" +\n    \"\\uD83D\\uDCB0 *Valor:* R$ \" + val + \"\\n\" +\n    \"\\uD83D\\uDCCA *Execucao:* \" + (p.PERCENTUAL_EXEC || \"0\") + \"%\\n\\n\" +\n    \"*Deseja mais informacoes?*\\n\" +\n    \"1\\uFE0F\\u20E3 Ver Entregas\\n2\\uFE0F\\u20E3 Ver Valores\\n3\\uFE0F\\u20E3 Ver Contratos\\n4\\uFE0F\\u20E3 Nova Busca\";\n  contexto.ultimaInteracao = agora;\n  staticData.contextos[remetente] = contexto;\n  return [{ tipo: 'reinicio', remetente, mensagem_retorno: fichaCompleta }];\n}\n\n// 7. TUDO MAIS -> CLASSIFICAR COM IA\nreturn [{\n  tipo: \"classificar\",\n  busca_limpa: textoLimpo,\n  remetente,\n  contexto_tem_projeto: !!contexto.projeto_atual,\n  contexto_tem_lista: !!(contexto.lista && contexto.lista.length > 0),\n  campos_acumulados: contexto.campos_acumulados || {},\n  projeto_atual: contexto.projeto_atual || null,\n  mensagem_retorno: \"\"\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        496
      ],
      "id": "b3f18260-025e-460c-89de-32f199a075ca",
      "name": "ProcessaMensagem"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-evolution-api.lkpafu.easypanel.host/message/sendText/Projeta_SC",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "7D5DDE6A591F-4D89-9FAC-785A343AD4F8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.remetente }}"
            },
            {
              "name": "text",
              "value": "={{ $json.descricao_projeto }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1568,
        1248
      ],
      "id": "f4c34b63-ad8f-4bcf-a4bd-2211d80a6a4c",
      "name": "RetornoProjeto"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mensagem",
        "options": {}
      },
      "id": "692f7b63-e7c5-484f-acb7-698ede36e309",
      "name": "Whatsapp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -576,
        496
      ],
      "webhookId": "ca260f54-431d-4cc9-bb68-c51dbc71c6bb"
    },
    {
      "parameters": {
        "query": "={{ $json.sql_query || $node[\"MontaBusca\"].json.sql_query }}"
      },
      "id": "58f958f1-374d-4041-8443-a18ee0d04b64",
      "name": "ConsultaProjetos",
      "type": "n8n-nodes-oracle11g.oracle11g",
      "typeVersion": 1,
      "position": [
        864,
        912
      ],
      "alwaysOutputData": true,
      "credentials": {
        "oracle11gApi": {
          "id": "WuFxnnM18FaQQCfa",
          "name": "Oracle 11g account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const todos = $input.all().filter(item => item.json && item.json.NOME);\nconst total = todos.length;\nconst remetente = $('ProcessaMensagem').first().json.remetente;\nconst campos = $('MontaBusca').first().json.campos || {};\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.contextos) staticData.contextos = {};\n\nlet totalInvestimento = 0;\nlet concluidos = [];\nlet emAndamento = [];\n\ntodos.forEach(item => {\n  totalInvestimento += parseFloat(String(item.json.VALORPLANEJADO || \"0\").replace(\",\", \".\")) || 0;\n  const sit = (item.json.SITUACAO || \"\").toLowerCase();\n  if (sit.includes('conclu') || sit.includes('finaliz') || sit.includes('encerr'))\n    concluidos.push(item);\n  else\n    emAndamento.push(item);\n});\n\nfunction formatarValor(val) {\n  if (val >= 1e9) return \"R$ \" + (val / 1e9).toFixed(1).replace(\".\", \",\") + \" bilhoes\";\n  if (val >= 1e6) return \"R$ \" + (val / 1e6).toFixed(1).replace(\".\", \",\") + \" milhoes\";\n  if (val >= 1e3) return \"R$ \" + (val / 1e3).toFixed(1).replace(\".\", \",\") + \" mil\";\n  return \"R$ \" + val.toFixed(2).replace(\".\", \",\");\n}\n\nfunction resumoBusca(c) {\n  const partes = [c.nome, c.municipio, c.situacao, c.tipo, c.orgao].filter(v => v && v !== \"QUALQUER\");\n  return partes.length > 0 ? \"*\" + partes.join(\" - \") + \"*\" : \"sua busca\";\n}\n\nfunction projetoParaContexto(json) {\n  return {\n    PROJETO_ID: json.PROJETO_ID, NUMERO: json.NUMERO, ANO: json.ANO,\n    NOME: json.NOME, CODIGO_PROCESSO: json.CODIGO_PROCESSO,\n    SITUACAO: json.SITUACAO, SITUACAO_ATUAL: json.SITUACAO_ATUAL,\n    ORGAO: json.ORGAO, DATA_INICIO: json.DATA_INICIO, DATA_FIM: json.DATA_FIM,\n    VALORPLANEJADO: json.VALORPLANEJADO, PERCENTUAL_EXEC: json.PERCENTUAL_EXEC\n  };\n}\n\nfunction linhaProjeto(item, i) {\n  const emojis = [\"1\\uFE0F\\u20E3\",\"2\\uFE0F\\u20E3\",\"3\\uFE0F\\u20E3\",\"4\\uFE0F\\u20E3\",\"5\\uFE0F\\u20E3\",\"6\\uFE0F\\u20E3\",\"7\\uFE0F\\u20E3\",\"8\\uFE0F\\u20E3\",\"9\\uFE0F\\u20E3\",\"10\\uFE0F\\u20E3\"];\n  const p = item.json;\n  const codigo = p.CODIGO_PROCESSO ? \"*\" + p.CODIGO_PROCESSO + \"* - \" : \"\";\n  const sit = p.SITUACAO ? \" - \" + p.SITUACAO : \"\";\n  const municipio = p.MUNICIPIO ? \" - \\uD83D\\uDCCD \" + p.MUNICIPIO : \"\";\n  const exec = p.PERCENTUAL_EXEC ? \" (\" + p.PERCENTUAL_EXEC + \"%)\" : \"\";\n  return (emojis[i] || \"*\" + (i + 1) + \".*\") + \" \" + codigo + p.NOME + municipio + sit + exec;\n}\n\nfunction descricaoProjeto(p) {\n  const val = formatarValor(parseFloat(String(p.VALORPLANEJADO || \"0\").replace(\",\", \".\")));\n  return (\n    \"Aqui estao as informacoes que encontrei! \\uD83D\\uDCCB\\n\\n\" +\n    \"*\" + p.NOME + \"*\\n\" +\n    \"\\uD83D\\uDCCC *Codigo:* \" + (p.CODIGO_PROCESSO || \"-\") + \"\\n\" +\n    \"\\uD83C\\uDFDB *Orgao:* \" + (p.ORGAO || \"-\") + \"\\n\\n\" +\n    \"\\uD83D\\uDCCA *Situacao:* \" + (p.SITUACAO || \"-\") + \"\\n\" +\n    (p.SITUACAO_ATUAL ? \"\\u2705 *Detalhe:* \" + p.SITUACAO_ATUAL + \"\\n\\n\" : \"\\n\") +\n    \"\\uD83D\\uDCC5 *Inicio:* \" + (p.DATA_INICIO || \"-\") + \"\\n\" +\n    \"\\uD83D\\uDCC5 *Termino:* \" + (p.DATA_FIM || \"-\") + \"\\n\\n\" +\n    \"\\uD83D\\uDCB0 *Valor:* R$ \" + parseFloat(String(p.VALORPLANEJADO || \"0\").replace(\",\", \".\")).toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + \"\\n\" +\n    \"\\uD83D\\uDCCA *Execucao:* \" + (p.PERCENTUAL_EXEC || \"0\") + \"%\\n\\n\" +\n    \"*Deseja mais informacoes?*\\n\" +\n    \"1\\uFE0F\\u20E3 Ver Entregas\\n\" +\n    \"2\\uFE0F\\u20E3 Ver Valores\\n\" +\n    \"3\\uFE0F\\u20E3 Ver Contratos\\n\" +\n    \"4\\uFE0F\\u20E3 Nova Busca\"\n  );\n}\n\nfunction contarPorCampo(lista, campo) {\n  const mapa = {};\n  lista.forEach(item => {\n    const val = item.json[campo];\n    if (val) mapa[val] = (mapa[val] || 0) + 1;\n  });\n  return Object.entries(mapa).sort((a, b) => b[1] - a[1]);\n}\n\nfunction perguntaRefinamento(campos, total, todos) {\n  const temMunicipio = !!campos.municipio && campos.municipio !== \"QUALQUER\";\n  const temSituacao  = !!campos.situacao  && campos.situacao  !== \"QUALQUER\";\n  const temNome      = !!campos.nome      && campos.nome      !== \"QUALQUER\";\n  const temOrgao     = !!campos.orgao     && campos.orgao     !== \"QUALQUER\";\n  const temTipo      = !!campos.tipo      && campos.tipo      !== \"QUALQUER\";\n\n  const emojisNum = [\"1️⃣\",\"2️⃣\",\"3️⃣\",\"4️⃣\",\"5️⃣\",\"6️⃣\",\"7️⃣\",\"8️⃣\",\"9️⃣\"];\n  const termoBusca = campos.nome || campos.municipio || campos.orgao || campos.tipo || \"sua busca\";\n\n  if (!temMunicipio) {\n    const topMunicipios = contarPorCampo(todos, 'MUNICIPIO').slice(0, 5);\n    const outros = total - topMunicipios.reduce((s, [, c]) => s + c, 0);\n\n    let msg = \"Encontrei *\" + total + \" projetos* relacionados a *\" + termoBusca + \"*! \\uD83D\\uDD0E\\n\\n\";\n    msg += \"Veja como estao distribuidos por municipio:\\n\";\n    staticData.contextos[remetente].municipios_opcoes = topMunicipios.map(([m]) => m);\n    topMunicipios.forEach(([mun, qtd], i) => {\n      msg += (emojisNum[i] || (i+1) + \".\") + \" \" + mun + \" \\u2014 \" + qtd + \" projeto\" + (qtd > 1 ? \"s\" : \"\") + \"\\n\";\n    });\n    if (outros > 0) msg += \"\\uD83D\\uDCCD Outros municipios \\u2014 \" + outros + \" projeto\" + (outros > 1 ? \"s\" : \"\") + \"\\n\";\n    msg += \"\\nDe qual *municipio* voce quer ver os projetos?\\n_Se nao souber, responda 'nao sei'_\";\n    return msg;\n  }\n\n  if (!temSituacao) {\n    // Contagem precisa: só conta como 'andamento' o que Oracle vai retornar no filtro\n    const qtdAndamento = todos.filter(function(item) {\n      return (item.json.SITUACAO || \"\").toLowerCase().includes('andamento');\n    }).length;\n    const qtdConcluido = concluidos.length;\n    const temVariedadeSituacao = qtdAndamento > 0 && qtdConcluido > 0;\n    if (temVariedadeSituacao) {\n      staticData.contextos[remetente].situacao_opcoes = ['Andamento', 'Concluido'];\n      let msg = \"Em *\" + campos.municipio + \"* encontrei *\" + total + \" projetos*\";\n      if (termoBusca !== campos.municipio) msg += \" com *\" + termoBusca + \"*\";\n      msg += \"!\\n\\n\";\n      msg += \"\\u23F3 1\\uFE0F\\u20E3 Em andamento: *\" + qtdAndamento + \"* projeto\" + (qtdAndamento > 1 ? \"s\" : \"\") + \"\\n\";\n      msg += \"\\u2705 2\\uFE0F\\u20E3 Conclu\\u00EDdos: *\" + qtdConcluido + \"* projeto\" + (qtdConcluido > 1 ? \"s\" : \"\") + \"\\n\\n\";\n      msg += \"Qual a situa\\u00E7\\u00E3o?\\n_Se nao souber, responda 'nao sei'_\";\n      return msg;\n    }\n    // Sem variedade — cai no próximo campo\n  }\n\n  if (!temNome) {\n    let msg = \"Ainda encontrei *\" + total + \" projetos*\";\n    if (temMunicipio) msg += \" em *\" + campos.municipio + \"*\";\n    if (temSituacao)  msg += \" com situacao *\" + campos.situacao + \"*\";\n    msg += \".\\n\\nVoce sabe o *nome* ou alguma *palavra-chave* do projeto?\\n\";\n    msg += \"_Se nao souber, responda 'nao sei'_\\n\\nPor exemplo: escola, ponte, hospital, rodovia...\";\n    return msg;\n  }\n\n  if (!temOrgao) {\n    const topOrgaos = contarPorCampo(todos, 'ORGAO').slice(0, 4);\n    let msg = \"Ainda encontrei *\" + total + \" projetos* com o nome *\" + campos.nome + \"*.\\n\\n\";\n    msg += \"Voce sabe qual *secretaria* ou *orgao* e responsavel?\\n_Se nao souber, responda 'nao sei'_\";\n    if (topOrgaos.length > 1) {\n      msg += \"\\n\\nOs org\\u00E3os com mais projetos s\\u00E3o:\\n\";\n      staticData.contextos[remetente].orgaos_opcoes = topOrgaos.map(([o]) => o);\n      topOrgaos.forEach(([org, qtd], i) => { msg += (emojisNum[i] || (i+1) + \".\") + \"\\uFE0F\\u20E3 \" + org + \"\\n\"; });\n    }\n    return msg;\n  }\n\n  if (!temTipo) {\n    const topTipos = contarPorCampo(todos, 'TIPO').slice(0, 4);\n    let msg = \"Ainda encontrei *\" + total + \" projetos*. Qual o *tipo* do projeto?\\n\";\n    msg += \"_Se nao souber, responda 'nao sei'_\";\n    if (topTipos.length > 1) {\n      msg += \"\\n\\nOs tipos encontrados s\\u00E3o:\\n\";\n      staticData.contextos[remetente].tipos_opcoes = topTipos.map(([t]) => t);\n      topTipos.forEach(([tipo, qtd], i) => { msg += (emojisNum[i] || (i+1) + \".\") + \"\\uFE0F\\u20E3 \" + tipo + \"\\n\"; });\n    }\n    return msg;\n  }\n\n  return (\n    \"Ainda encontrei *\" + total + \" projetos* com esses filtros.\\n\\n\" +\n    \"Voce consegue me dar mais algum detalhe?\\nPode ser o codigo do processo (ex: 32/2025) ou o ano do projeto.\"\n  );\n}\n\nif (total === 0) {\n  const ordemPrioridade = ['municipio', 'orgao', 'tipo', 'situacao', 'nome'];\n  const ultimoFiltro = ordemPrioridade.find(k => campos[k] && campos[k] !== 'QUALQUER');\n  const filtrosAtivos = Object.entries(campos).filter(([k,v]) => v && v !== 'QUALQUER').map(([k,v]) => v).join(' + ');\n  let msg = \"Nao encontrei nenhum projeto com todos esses filtros juntos: *\" + filtrosAtivos + \"*. \\uD83D\\uDD0D\\n\\n\";\n  if (ultimoFiltro) {\n    if (ultimoFiltro === \"municipio\") {\n      msg += \"Esse municipio pode nao ter projetos com esse nome. Tente *remover municipio* para ver todos os municipios, ou *0* para comecar de novo.\";\n    } else {\n      msg += \"Provavelmente o campo *\" + ultimoFiltro + \": \" + campos[ultimoFiltro] + \"* nao existe no sistema com esse nome.\\n\\nTente digitar *remover \" + ultimoFiltro + \"* para buscar sem esse filtro, ou *0* para comecar de novo.\";\n    }\n  } else {\n    msg += \"Tente uma *palavra-chave diferente* ou o *codigo do processo* (ex: 32/2025), ou digitar *0* para nova busca.\";\n  }\n  return [{ tipo: \"sem_resultado\", remetente, mensagem_retorno: msg }];\n}\n\nif (total === 1) {\n  const projeto = todos[0].json;\n  if (!staticData.contextos[remetente]) staticData.contextos[remetente] = {};\n  staticData.contextos[remetente].lista = null;\n  staticData.contextos[remetente].projeto_atual = projetoParaContexto(projeto);\n  staticData.contextos[remetente].projeto_exibido = false;\n  return [{ tipo: \"projeto_unico\", remetente, descricao_projeto: descricaoProjeto(projeto) }];\n}\n\nif (total >= 2 && total <= 10) {\n  const listaOrdenada = [...concluidos, ...emAndamento];\n  if (!staticData.contextos[remetente]) staticData.contextos[remetente] = {};\n  staticData.contextos[remetente].lista = listaOrdenada.map(item => projetoParaContexto(item.json));\n\n  let mensagem = \"Encontrei *\" + total + \" projetos*! Qual deles e o que voce procura?\\n\\n\";\n  if (concluidos.length > 0) {\n    mensagem += \"\\u2705 *Concluidos*\\n\";\n    concluidos.forEach((item, i) => { mensagem += linhaProjeto(item, i) + \"\\n\"; });\n    mensagem += \"\\n\";\n  }\n  if (emAndamento.length > 0) {\n    mensagem += \"\\u23F3 *Em andamento*\\n\";\n    emAndamento.forEach((item, i) => { mensagem += linhaProjeto(item, concluidos.length + i) + \"\\n\"; });\n  }\n  mensagem += \"\\nDigite o numero para ver os detalhes completos.\";\n  return [{ tipo: \"lista\", remetente, mensagem_retorno: mensagem }];\n}\n\nif (!staticData.contextos[remetente]) staticData.contextos[remetente] = {};\nstaticData.contextos[remetente].lista = null;\n\nstaticData.contextos[remetente].municipios_todos = contarPorCampo(todos, 'MUNICIPIO');\n\nconst msgRefinamento = perguntaRefinamento(campos, total, todos);\nreturn [{ tipo: \"refinamento_direto\", remetente, mensagem_retorno: msgRefinamento }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        912
      ],
      "id": "1f3d7cd1-5f57-417d-aa2d-6eccd3272533",
      "name": "ProcessaResultados"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-evolution-api.lkpafu.easypanel.host/message/sendText/Projeta_SC",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "7D5DDE6A591F-4D89-9FAC-785A343AD4F8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.remetente }}"
            },
            {
              "name": "text",
              "value": "={{ $json.mensagem_retorno || $json.descricao_projeto || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1568,
        768
      ],
      "id": "12bcfbfb-4bc9-419a-8f56-8b80ab271191",
      "name": "RetornaMensagem"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst id = input.projeto.PROJETO_ID;\n\nconst sql = \"SELECT NUMERO_CONTRATO AS NUMERO, OBJETO, SITUACAO, TOTAL_CONTRATADO, VL_EXECUTADO, VL_PAGO, PC_EXECUTADO, DT_INICIO, DT_FIM, CONTRATADA, TIPO_CONTRATO FROM VW_CONTRATO WHERE PROJETO_ID = \" + id + \" AND ROWNUM < 16\";\n\nreturn [{\n  remetente: input.remetente,\n  projeto: input.projeto,\n  sql_contratos: sql\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        640
      ],
      "id": "afa91a92-602f-4e20-81cd-48c6e6eab5c8",
      "name": "PreparaContratos"
    },
    {
      "parameters": {
        "query": "={{ $json.sql_query || $node[\"MontaBusca\"].json.sql_query }}"
      },
      "id": "18e4c499-c803-4515-a35d-192f6c10add2",
      "name": "ConsultaProjetos1",
      "type": "n8n-nodes-oracle11g.oracle11g",
      "typeVersion": 1,
      "position": [
        1312,
        64
      ],
      "alwaysOutputData": true,
      "credentials": {
        "oracle11gApi": {
          "id": "WuFxnnM18FaQQCfa",
          "name": "Oracle 11g account"
        }
      }
    },
    {
      "parameters": {
        "query": "=SELECT \n    \"Nome\" AS NOME_ENTREGA,\n    \"% Executada\" AS PERC_EXECUTADO\nFROM VW_BI_VDBCRONOGRAMA \nWHERE \"Cód. projeto\" = {{ $json.projeto.PROJETO_ID }}\nAND \"Tipo de informação\" IN ('Entrega', 'Marco')\nORDER BY \"NUORDEM\""
      },
      "id": "bc7e82de-fc55-4521-b31b-c47ebbfdf6a6",
      "name": "ConsultaEntregas1",
      "type": "n8n-nodes-oracle11g.oracle11g",
      "typeVersion": 1,
      "position": [
        720,
        64
      ],
      "alwaysOutputData": true,
      "credentials": {
        "oracle11gApi": {
          "id": "WuFxnnM18FaQQCfa",
          "name": "Oracle 11g account"
        }
      }
    },
    {
      "parameters": {
        "query": "=SELECT DISTINCT \n    VALOR_PLANEJADO,\n    VALOR_CONTRATADO_2_3 AS VALOR_CONTRATADO,\n    VALOR_EXECUTADO_4_5 AS VALOR_EXECUTADO,\n    VALOR_PAGO,\n    PERCENTUAL_EXECUCAO_CONTRATADO AS PERC_EXEC,\n    SITUACAO_PROJETO\nFROM VW_BI_VDBEXECUCAOPROJETO\nWHERE CODIGO_PROJETO = {{ $json.projeto.PROJETO_ID }}"
      },
      "id": "4c931c61-e48d-40a8-83ff-7d19bc3185dc",
      "name": "ConsultaValores1",
      "type": "n8n-nodes-oracle11g.oracle11g",
      "typeVersion": 1,
      "position": [
        912,
        64
      ],
      "alwaysOutputData": true,
      "credentials": {
        "oracle11gApi": {
          "id": "WuFxnnM18FaQQCfa",
          "name": "Oracle 11g account"
        }
      }
    },
    {
      "parameters": {
        "query": "SELECT NUMERO_CONTRATO AS NUMERO, OBJETO, SITUACAO, TOTAL_CONTRATADO, VL_EXECUTADO, VL_PAGO, PC_EXECUTADO, DT_INICIO, DT_FIM, CONTRATADA, TIPO_CONTRATO FROM VW_CONTRATO WHERE PROJETO_ID = {{ $json.PROJETO_ID }} AND ROWNUM <= 15"
      },
      "id": "de3ccc25-36c9-4e59-ab2e-4dc353242451",
      "name": "ConsultaContratos1",
      "type": "n8n-nodes-oracle11g.oracle11g",
      "typeVersion": 1,
      "position": [
        1104,
        64
      ],
      "alwaysOutputData": true,
      "credentials": {
        "oracle11gApi": {
          "id": "WuFxnnM18FaQQCfa",
          "name": "Oracle 11g account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst remetente = input.remetente;\n\nconst c = Object.values(input).find(v => v && typeof v === 'object' && v.NUMERO) || null;\n\nif (!c) {\n  return [{ remetente, mensagem_retorno: \"\\u26A0\\uFE0F Erro ao carregar detalhes. Tente novamente.\" }];\n}\n\nfunction formatarValor(val) {\n  const n = parseFloat(String(val || \"0\").replace(\",\", \".\")) || 0;\n  return \"R$ \" + n.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n}\n\nfunction formatarData(val) {\n  if (!val) return \"-\";\n  try {\n    const d = new Date(val);\n    return d.toLocaleDateString('pt-BR');\n  } catch(e) {\n    return String(val).substring(0, 10);\n  }\n}\n\nreturn [{\n  remetente,\n  mensagem_retorno:\n    \"\\uD83D\\uDCDC *Contrato:* \" + (c.NUMERO || \"-\") +\n    \"\\n\\uD83C\\uDFE2 *Contratada:* \" + (c.CONTRATADA || \"-\") +\n    \"\\n\\uD83C\\uDFAF *Objeto:* \" + (c.OBJETO || \"-\") +\n    \"\\n\\uD83D\\uDFE1 *Situacao:* \" + (c.SITUACAO || \"-\") +\n    \"\\n\\uD83D\\uDCC5 *Inicio:* \" + formatarData(c.DT_INICIO) +\n    \"\\n\\uD83D\\uDCC5 *Fim:* \" + formatarData(c.DT_FIM) +\n    \"\\n\\uD83D\\uDCB0 *Total:* \" + formatarValor(c.TOTAL_CONTRATADO) +\n    \"\\n\\uD83D\\uDCB3 *Executado:* \" + formatarValor(c.VL_EXECUTADO) +\n    \"\\n\\uD83D\\uDCB3 *Pago:* \" + formatarValor(c.VL_PAGO) +\n    \"\\n\\uD83D\\uDCCA *Exec:* \" + (c.PC_EXECUTADO || \"0\") + \"%\" +\n    \"\\n\\n*Deseja mais informacoes?*\\n\" +\n    \"3\\uFE0F\\u20E3 Ver lista de contratos\\n\" +\n    \"1\\uFE0F\\u20E3 Ver Entregas\\n\" +\n    \"2\\uFE0F\\u20E3 Ver Valores\\n\" +\n    \"4\\uFE0F\\u20E3 Nova Busca\"\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        768
      ],
      "id": "f650fd84-8387-4655-a215-dd3624a42d9f",
      "name": "FormataDetalheContrato"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-evolution-api.lkpafu.easypanel.host/message/sendText/Projeta_SC",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "7D5DDE6A591F-4D89-9FAC-785A343AD4F8"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.remetente }}"
            },
            {
              "name": "text",
              "value": "={{ $json.mensagem_retorno || 'O que voce gostaria de consultar agora? 🔎\\n\\nVoce pode pesquisar por:\\n🏛 *Secretaria* responsavel\\n📍 *Municipio* (ex: Florianopolis)\\n📄 *Nome* do projeto (ex: Ponte Hercilio Luz)\\n🔢 *Numero do processo* (ex: 32/2025)' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        144
      ],
      "id": "37e7aeda-9de3-4977-99f9-7410f5faaa0b",
      "name": "RetornoReinicio"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst campos = input.campos_acumulados || {};\nconst faltantes = input.campos_faltantes || [];\n\nconst preenchidos = Object.entries(campos)\n  .filter(function(entry) { return entry[1] && entry[1] !== \"QUALQUER\"; })\n  .map(function(entry) { return entry[0] + \": \" + entry[1]; })\n  .join(\", \");\n\n// So inclui contexto de refinamento se ja tem campos preenchidos\nconst temCamposPreenchidos = preenchidos.length > 0;\nconst proximo = temCamposPreenchidos ? (faltantes[0] || \"\") : \"\";\n\nlet contexto;\nif (temCamposPreenchidos) {\n  contexto = \"Campos ja preenchidos: \" + preenchidos +\n    \". Proximo campo esperado: \" + (proximo || \"qualquer\") +\n    \". Texto do usuario: \" + input.busca_limpa;\n} else {\n  contexto = input.busca_limpa;\n}\n\nreturn [{\n  busca_limpa: contexto,\n  campos_acumulados: campos,\n  campos_faltantes: faltantes,\n  remetente: input.remetente\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        912
      ],
      "id": "caebc07b-31b3-47ad-8593-5b1584b16617",
      "name": "PreparaConsulta"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst id = input.projeto.PROJETO_ID;\n\nreturn [{\n  remetente: input.remetente,\n  projeto: input.projeto,\n  sql_entregas: \"SELECT C.DESCRICAO_ATIVIDADE AS NOME_ENTREGA, C.PERCENTUAL_EXECUTADO AS PERC_EXECUTADO FROM CRONOGRAMA C WHERE C.FG_MARCO = 1 AND C.PROJETO_ID = \" + id + \" ORDER BY C.ORDEM\"\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        288
      ],
      "id": "dd53a490-9ef4-49f6-b47a-a74292f26310",
      "name": "PreparaEntregas"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "JSON",
        "body": "={{ $json.request_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        1088
      ],
      "id": "5f03ed93-3f42-4cd1-9a5c-56e95ea8b051",
      "name": "RespondePerguntas"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst remetente = $('ProcessaMensagem').first().json.remetente;\nconst temProjeto = $('ProcessaMensagem').first().json.projeto_atual;\n\nlet resposta = '';\ntry {\n  resposta = input.choices[0].message.content.trim();\n} catch(e) {\n  resposta = 'Nao consegui processar sua pergunta. Tente novamente ou use os menus disponiveis.';\n}\n\nconst rodape = temProjeto\n  ? '\\n\\n*Deseja mais informacoes?*\\n1\\uFE0F\\u20E3 Ver Entregas\\n2\\uFE0F\\u20E3 Ver Valores\\n3\\uFE0F\\u20E3 Ver Contratos\\n4\\uFE0F\\u20E3 Nova Busca'\n  : '\\n\\n\\uD83D\\uDD0E Digite um municipio, nome de projeto ou codigo para comecar.';\n\nreturn [{ remetente, mensagem_retorno: resposta + rodape }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        1088
      ],
      "id": "005836a8-c66e-4ff1-918a-f326cac73dde",
      "name": "FormataRespostaLivre"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst p = input.projeto_atual;\n\nlet userContent = '';\n\nif (p) {\n  userContent = [\n    'Dados do projeto em contexto:',\n    'Nome: ' + p.NOME,\n    'Codigo: ' + p.CODIGO_PROCESSO,\n    'Orgao: ' + (p.ORGAO || '-'),\n    'Situacao: ' + (p.SITUACAO || '-'),\n    'Detalhe: ' + (p.SITUACAO_ATUAL || 'nao informado'),\n    'Inicio: ' + (p.DATA_INICIO || '-'),\n    'Termino: ' + (p.DATA_FIM || '-'),\n    'Valor planejado: R$ ' + (p.VALORPLANEJADO || '0'),\n    'Execucao: ' + (p.PERCENTUAL_EXEC || '0') + '%',\n    '',\n    'Pergunta do usuario: ' + input.pergunta\n  ].join('\\n');\n} else {\n  userContent = [\n    'Nao ha projeto selecionado no momento.',\n    '',\n    'Pergunta do usuario: ' + input.pergunta\n  ].join('\\n');\n}\n\nconst systemContent = [\n  'Voce e um assistente inteligente do Projeta SC, sistema de acompanhamento de projetos do Governo de Santa Catarina.',\n  'Responda perguntas de forma natural e conversacional — como o ChatGPT faria — em portugues informal.',\n  '',\n  'Diretrizes:',\n  '1. Use apenas os dados fornecidos no contexto. Se nao tiver a informacao, diga isso e sugira: Entregas, Valores ou Contratos',\n  '2. Seja completo quando necessario — nao limite o numero de linhas',\n  '3. Escreva de forma fluida e humana, evite respostas roboticas ou em formato de lista',\n  '4. Use emojis com moderacao, apenas quando agregar clareza',\n  '5. Se nao houver projeto selecionado, oriente o usuario a buscar um projeto primeiro',\n  '6. Voce pode fazer perguntas de volta ao usuario quando precisar de mais contexto'\n].join('\\n');\n\nconst requestBody = {\n  model: 'llama-3.3-70b-versatile',\n  temperature: 0.4,\n  max_tokens: 500,\n  messages: [\n    { role: 'system', content: systemContent },\n    { role: 'user', content: userContent }\n  ]\n};\n\nreturn [{\n  remetente: input.remetente,\n  projeto_atual: p,\n  request_body: JSON.stringify(requestBody)\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        1088
      ],
      "id": "7139bbee-448f-41f1-b795-ae9cdd14e04f",
      "name": "PreparaPromptPergunta"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst { campos, total, topMunicipios, topOrgaos, topTipos, qtdAndamento, qtdConcluido, investimentoTotal } = input;\n\nconst preenchidos = Object.entries(campos || {})\n  .filter(([k, v]) => v && v !== 'QUALQUER')\n  .map(([k, v]) => `${k}: ${v}`)\n  .join(', ');\n\nlet contextoBusca = preenchidos ? `Filtros já aplicados: ${preenchidos}. ` : 'Sem filtros definidos ainda. ';\ncontextoBusca += `A busca retornou ${total} projetos. `;\n\n// Município: só lista quando há mais de 1 opção\nif (topMunicipios && topMunicipios.length > 1) {\n  const listaMunicipios = topMunicipios.slice(0, 10).map(([m, q]) => `${m} (${q} projeto${q > 1 ? 's' : ''})`).join(', ');\n  const totalMunicipios = topMunicipios.length;\n  contextoBusca += `Municípios com mais projetos (${totalMunicipios} no total): ${listaMunicipios}. `;\n}\n\n// Situação: só oferece como filtro quando há projetos nos dois estados; menu sempre numerado\nconst temVariedadeSituacao = qtdAndamento > 0 && qtdConcluido > 0;\nif (temVariedadeSituacao) {\n  contextoBusca += `Situação dos projetos — use EXATAMENTE este menu numerado (um por linha):\\n1 Em andamento\\n2 Concluídos\\n`;\n}\n\n// Órgão: só lista quando há mais de 1 opção (filtrar faz sentido)\nif (topOrgaos && topOrgaos.length > 1) {\n  const listaOrgaos = topOrgaos.slice(0, 5).map(([o, q], i) => `${i + 1} ${o}`).join('\\n');\n  contextoBusca += `Órgãos disponíveis (use menu numerado):\\n${listaOrgaos}\\n`;\n}\n\n// Tipo: só lista quando há mais de 1 opção\nif (topTipos && topTipos.length > 1) {\n  const listaTipos = topTipos.slice(0, 4).map(([t, q], i) => `${i + 1} ${t}`).join('\\n');\n  contextoBusca += `Tipos disponíveis (use menu numerado):\\n${listaTipos}\\n`;\n}\n\nif (investimentoTotal) {\n  contextoBusca += `Investimento total: ${investimentoTotal}. `;\n}\n\nconst campos_ignorados = Object.entries(campos || {})\n  .filter(([k, v]) => v === 'QUALQUER')\n  .map(([k]) => k);\n\nif (campos_ignorados.length) {\n  contextoBusca += `Campos que o usuário não sabe (NÃO perguntar sobre estes): ${campos_ignorados.join(', ')}. `;\n}\n\n// Só sugere campos que têm múltiplas opções reais para filtrar\nconst camposFiltraveleis = {\n  municipio: topMunicipios && topMunicipios.length > 1,\n  situacao: temVariedadeSituacao,\n  orgao: topOrgaos && topOrgaos.length > 1,\n  tipo: topTipos && topTipos.length > 1,\n  nome: true\n};\n\nconst campos_faltantes = ['municipio', 'situacao', 'orgao', 'tipo', 'nome']\n  .filter(k => !campos[k] && !campos_ignorados.includes(k) && camposFiltraveleis[k]);\nconst proximo = campos_faltantes[0] || '';\n\nconst systemPrompt = `Você é um assistente amigável do Projeta SC, sistema de projetos do Governo de Santa Catarina.\nO usuário está buscando um projeto específico, mas a busca retornou muitos resultados e precisa ser refinada.\nSua tarefa: escrever UMA mensagem natural e conversacional que:\n1. OBRIGATORIAMENTE comece informando o número exato de projetos e o investimento total (ex: Encontrei *X projetos* com investimento total de R$ Y)\n2. Faça UMA pergunta para refinar a busca usando o próximo campo sugerido\n3. Quando o contexto fornecer um menu numerado, reproduza-o EXATAMENTE com os números, um por linha — NUNCA omita os números\n4. NUNCA invente opções que não estejam nos dados fornecidos\nRegras: NÃO pergunte sobre campos que o usuário já disse não saber. Português informal. Máximo 5 frases. PROIBIDO mencionar Saber mais, links ou opções clicáveis.\nSe houver mais de 10 municípios disponíveis, liste apenas os 10 primeiros e termine com: '(e outros X municípios — digite *ver mais* para ver todos)'.`;\n\nconst userPrompt = `Dados OBRIGATÓRIOS que devem aparecer na mensagem:\n- Número exato de projetos encontrados: ${total}\n- Investimento total: ${investimentoTotal || 'não informado'}\n\nContexto adicional: ${contextoBusca}\nPróximo campo sugerido para perguntar: ${proximo || 'qualquer detalhe adicional'}\nEscreva a mensagem natural para o usuário.`;\n\nreturn [{\n  remetente: input.remetente,\n  request_body: JSON.stringify({\n    model: 'llama-3.3-70b-versatile',\n    temperature: 0.7,\n    max_tokens: 250,\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userPrompt }\n    ]\n  })\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        1120
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "PreparaPromptRefinamento"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "JSON",
        "body": "={{ $json.request_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1720,
        1120
      ],
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "GroqRefinamento"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst remetente = $('ProcessaResultados').first().json.remetente;\nlet resposta = '';\ntry {\n  resposta = input.choices[0].message.content.trim();\n} catch(e) {\n  resposta = 'Encontrei muitos projetos! Pode me dar mais um detalhe? Por exemplo, o município, se está em andamento ou concluído, ou parte do nome do projeto.';\n}\nreturn [{ remetente, mensagem_retorno: resposta }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        1120
      ],
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "FormataRefinamento"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e1f2a3b4-c5d6-7890-efab-cd1234567890",
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "classificar",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        40,
        500
      ],
      "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
      "name": "RoteiaClassificacao"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\nconst temProjeto = input.contexto_tem_projeto;\nconst temLista = input.contexto_tem_lista;\nconst campos = input.campos_acumulados || {};\n\nconst camposPreenchidos = Object.entries(campos)\n  .filter(([k, v]) => v && v !== 'QUALQUER')\n  .map(([k, v]) => `${k}: ${v}`)\n  .join(', ');\n\nconst systemPrompt = [\n  'Você é um classificador de intenções do Projeta SC (chatbot de projetos do Governo de SC via WhatsApp).',\n  'Analise a mensagem e o contexto. Retorne SOMENTE JSON válido, sem explicações.',\n  '',\n  'Intenções possíveis:',\n  '- \"saudacao\": cumprimento puro (oi, olá, bom dia, boa tarde, etc.)',\n  '- \"reinicio\": quer recomeçar, nova busca, cancelar, começar de novo',\n  '- \"busca\": quer buscar um projeto — extraia campos encontrados no texto (nome, municipio, situacao, tipo, orgao)',\n  '- \"pular_campo\": disse que não sabe / não importa / tanto faz / qualquer um',\n  '- \"pergunta_livre\": faz pergunta sobre o projeto que está em contexto',\n  '- \"submenu_entregas\": quer ver entregas do projeto atual',\n  '- \"submenu_valores\": quer ver valores do projeto atual',\n  '- \"submenu_contratos\": quer ver contratos do projeto atual',\n  '',\n  `Contexto: tem_projeto_ativo=${temProjeto}, tem_lista_aguardando=${temLista}${camposPreenchidos ? ', campos_ja_buscados=' + camposPreenchidos : ''}`,\n  '',\n  'Formato de retorno: {\"tipo\":\"...\", \"campos\":{...}}',\n  'O campo \"campos\" só é necessário quando tipo é \"busca\".',\n  '',\n  'Exemplos:',\n  '\"oi tudo bem\" → {\"tipo\":\"saudacao\"}',\n  '\"ver contratos\" (tem_projeto=true) → {\"tipo\":\"submenu_contratos\"}',\n  '\"e as entregas?\" (tem_projeto=true) → {\"tipo\":\"submenu_entregas\"}',\n  '\"quanto vale esse projeto?\" (tem_projeto=true) → {\"tipo\":\"pergunta_livre\"}',\n  '\"escola em joinville\" → {\"tipo\":\"busca\",\"campos\":{\"nome\":\"escola\",\"municipio\":\"Joinville\"}}',\n  '\"projetos em andamento em florianopolis\" → {\"tipo\":\"busca\",\"campos\":{\"municipio\":\"Florianopolis\",\"situacao\":\"Andamento\"}}',\n  '\"não sei\" / \"tanto faz\" / \"qualquer um\" → {\"tipo\":\"pular_campo\"}',\n  '\"ver todos os municípios\" / \"listar todas as opções\" / \"quero ver todos\" → {\"tipo\":\"pular_campo\"}',\n  '\"começa do zero\" / \"quero buscar outro\" → {\"tipo\":\"reinicio\"}',\n  '\"Polícia Científica\" → {\"tipo\":\"busca\",\"campos\":{\"orgao\":\"Polícia Científica\"}}',\n  '\"secretaria da saúde\" / \"saúde\" → {\"tipo\":\"busca\",\"campos\":{\"orgao\":\"Secretaria de Saúde\"}}',\n  '\"educação\" / \"sec educação\" → {\"tipo\":\"busca\",\"campos\":{\"orgao\":\"Secretaria de Educação\"}}',\n  '\"CELESC\" / \"CIDASC\" → {\"tipo\":\"busca\",\"campos\":{\"orgao\":\"<sigla exata>\"}}'\n].join('\\n');\n\nreturn [{\n  remetente: input.remetente,\n  busca_limpa: input.busca_limpa,\n  contexto_tem_projeto: temProjeto,\n  campos_acumulados: campos,\n  projeto_atual: input.projeto_atual,\n  request_body: JSON.stringify({\n    model: 'llama-3.3-70b-versatile',\n    temperature: 0,\n    max_tokens: 120,\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: input.busca_limpa }\n    ]\n  })\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        680
      ],
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "PreparaGroqClassificador"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "JSON",
        "body": "={{ $json.request_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        440,
        680
      ],
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "GroqClassificador"
    },
    {
      "parameters": {
        "jsCode": "const groqResp = $input.item.json;\nconst prep = $('PreparaGroqClassificador').first().json;\nconst remetente = prep.remetente;\nconst buscaLimpa = prep.busca_limpa;\nconst camposAcumulados = prep.campos_acumulados || {};\nconst projetoAtual = prep.projeto_atual;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.contextos) staticData.contextos = {};\nlet contexto = staticData.contextos[remetente] || { termos: [], lista: null, contratos: null, campos_acumulados: {}, projeto_exibido: false, projeto_atual: null, ultimaInteracao: null };\nconst agora = Date.now();\n\nlet classificacao = { tipo: 'busca' };\ntry {\n  const texto = groqResp.choices[0].message.content.trim();\n  classificacao = JSON.parse(texto.replace(/```json|```/g, '').trim());\n} catch(e) {}\n\nconst tipo = classificacao.tipo;\n\nif (tipo === 'saudacao') {\n  staticData.contextos[remetente] = { termos: [], lista: null, contratos: null, campos_acumulados: {}, projeto_exibido: false, projeto_atual: null, ultimaInteracao: agora };\n  return [{ tipo: 'saudacao', busca_limpa: '', remetente, mensagem_retorno: '' }];\n}\n\nif (tipo === 'reinicio') {\n  staticData.contextos[remetente] = { termos: [], lista: null, contratos: null, campos_acumulados: {}, projeto_exibido: false, projeto_atual: null, ultimaInteracao: agora };\n  return [{ tipo: 'reinicio', busca_limpa: '', remetente, mensagem_retorno: '' }];\n}\n\nif (tipo === 'submenu_entregas') {\n  contexto.ultimaInteracao = agora;\n  staticData.contextos[remetente] = contexto;\n  return [{ tipo: 'submenu', submenu: 'entregas', projeto: projetoAtual, busca_limpa: '', remetente, mensagem_retorno: '' }];\n}\n\nif (tipo === 'submenu_valores') {\n  contexto.ultimaInteracao = agora;\n  staticData.contextos[remetente] = contexto;\n  return [{ tipo: 'submenu', submenu: 'valores', projeto: projetoAtual, busca_limpa: '', remetente, mensagem_retorno: '' }];\n}\n\nif (tipo === 'submenu_contratos') {\n  contexto.ultimaInteracao = agora;\n  contexto.contratos = null;\n  staticData.contextos[remetente] = contexto;\n  return [{ tipo: 'submenu', submenu: 'contratos', projeto: projetoAtual, busca_limpa: '', remetente, mensagem_retorno: '' }];\n}\n\nif (tipo === 'pergunta_livre') {\n  contexto.ultimaInteracao = agora;\n  staticData.contextos[remetente] = contexto;\n  return [{ tipo: 'pergunta_livre', pergunta: buscaLimpa, projeto_atual: projetoAtual || null, remetente, mensagem_retorno: '' }];\n}\n\nif (tipo === 'pular_campo') {\n  const campos = { ...camposAcumulados };\n  if (!campos.municipio) campos.municipio = 'QUALQUER';\n  else if (!campos.situacao) campos.situacao = 'QUALQUER';\n  else if (!campos.nome) campos.nome = 'QUALQUER';\n  else if (!campos.orgao) campos.orgao = 'QUALQUER';\n  else if (!campos.tipo) campos.tipo = 'QUALQUER';\n  contexto.campos_acumulados = campos;\n  contexto.ultimaInteracao = agora;\n  staticData.contextos[remetente] = contexto;\n  return [{ tipo: 'busca', busca_limpa: 'refinar', campos_acumulados: campos, campos_faltantes: [], remetente, mensagem_retorno: '' }];\n}\n\n// BUSCA (default)\nconst camposNovos = classificacao.campos || {};\nconst campos = contexto.projeto_exibido ? {} : { ...camposAcumulados };\nObject.keys(camposNovos).forEach(key => {\n  if (campos[key] !== 'QUALQUER') campos[key] = camposNovos[key];\n});\n\ncontexto.campos_acumulados = campos;\ncontexto.projeto_exibido = false;\ncontexto.ultimaInteracao = agora;\nstaticData.contextos[remetente] = contexto;\n\nconst campos_faltantes = ['municipio', 'situacao', 'nome', 'orgao', 'tipo'].filter(k => !campos[k]);\nconst busca_limpa_completa = [campos.nome, campos.municipio, campos.situacao, campos.tipo, campos.orgao]\n  .filter(v => v && v !== 'QUALQUER').join(' ') || buscaLimpa;\n\nreturn [{ tipo: 'busca', busca_limpa: busca_limpa_completa, campos_acumulados: campos, campos_faltantes, remetente, mensagem_retorno: '' }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        680
      ],
      "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
      "name": "AplicaClassificacao"
    }
  ],
  "connections": {
    "FormataProjeto": {
      "main": [
        [
          {
            "node": "RetornoProjeto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InterpretaConsulta": {
      "main": [
        [
          {
            "node": "MontaBusca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MontaBusca": {
      "main": [
        [
          {
            "node": "ConsultaProjetos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RoteiaSubmenu": {
      "main": [
        [
          {
            "node": "PreparaEntregas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RoteiaValores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RoteiaValores": {
      "main": [
        [
          {
            "node": "ConsultaValores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PreparaContratos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsultaEntregas": {
      "main": [
        [
          {
            "node": "FormataEntregas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsultaValores": {
      "main": [
        [
          {
            "node": "FormataValores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsultaContratos": {
      "main": [
        [
          {
            "node": "FormadaContratos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormataEntregas": {
      "main": [
        [
          {
            "node": "RetornaMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormataValores": {
      "main": [
        [
          {
            "node": "RetornaMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormadaContratos": {
      "main": [
        [
          {
            "node": "RetornaMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RoteadorPrincipal": {
      "main": [
        [
          {
            "node": "RetornoBoasVindas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RetornoReinicio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RoteiaSubmenu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FormataDetalheContrato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PreparaConsulta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FormataProjeto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PreparaPromptPergunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RoteiaResultado": {
      "main": [
        [
          {
            "node": "RetornoProjeto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PreparaPromptRefinamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RetornaMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PreparaPromptRefinamento": {
      "main": [
        [
          {
            "node": "GroqRefinamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GroqRefinamento": {
      "main": [
        [
          {
            "node": "FormataRefinamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormataRefinamento": {
      "main": [
        [
          {
            "node": "RetornaMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FiltraMensagem": {
      "main": [
        [
          {
            "node": "ProcessaMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProcessaMensagem": {
      "main": [
        [
          {
            "node": "RoteiaClassificacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RoteiaClassificacao": {
      "main": [
        [
          {
            "node": "PreparaGroqClassificador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RoteadorPrincipal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PreparaGroqClassificador": {
      "main": [
        [
          {
            "node": "GroqClassificador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GroqClassificador": {
      "main": [
        [
          {
            "node": "AplicaClassificacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AplicaClassificacao": {
      "main": [
        [
          {
            "node": "RoteadorPrincipal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp": {
      "main": [
        [
          {
            "node": "FiltraMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsultaProjetos": {
      "main": [
        [
          {
            "node": "ProcessaResultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProcessaResultados": {
      "main": [
        [
          {
            "node": "RoteiaResultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PreparaContratos": {
      "main": [
        [
          {
            "node": "ConsultaContratos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormataDetalheContrato": {
      "main": [
        [
          {
            "node": "RetornaMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PreparaConsulta": {
      "main": [
        [
          {
            "node": "InterpretaConsulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PreparaEntregas": {
      "main": [
        [
          {
            "node": "ConsultaEntregas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RespondePerguntas": {
      "main": [
        [
          {
            "node": "FormataRespostaLivre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormataRespostaLivre": {
      "main": [
        [
          {
            "node": "RetornaMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PreparaPromptPergunta": {
      "main": [
        [
          {
            "node": "RespondePerguntas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "2ca62e24603a0eb1b6b9cb037bfabe1872c5bf12e8e6461f6d68296d10ac7161"
  }
}